<%- include('partials/header'); -%>

<h3><% if(data) data.name %></h3>
<header>
  <div class="smoothie">
    <img src="/static/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Ninjas For Ninjas</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>